.col{
  background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
  height: 100vh;
  overflow: hidden;
}

.heading {
  display: flex;
  justify-content: center;
  margin-top: 1%;
}

.insta {
  font-size: 70px;
  color: #3a0ca3;
}

.x {
  font-size: 70px;
  color: red;
}

.w {
  font-size: 70px;
  color: #b5179e;
}

.box{
    width: 80%;
    margin: auto;
    margin-top: 1%;
}

@media (max-width: 900px) {
  /* Max width is less than 900pxs */
  .x {
    font-size: 40px;
  }
  .insta {
    font-size: 40px;
  }
  .w {
    font-size: 40px;
  }
  .heading{
      margin-top: 3%;
  }
  .box{
      margin-top: 10%;
      width: 98%;
  }
}
